body{
    background-color: #914814;
    font-size: larger;
    font-family: Arial;
    
}

.inicio{
    background-color: chocolate;
    margin: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.loja{
    background-color: chocolate;
    margin: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loja fieldset{
    border: none;
    display: flex;
}

.loja p{
    margin-left: 50px;
    margin-right: 50px;
}

.loja button{
    background-color: gold;
    margin-left: 130px;
    margin-right: 130px;
    border: 5px solid goldenrod;
}

button{
    background-color: green;
    font-size: larger;
    color: white;
    border-radius: 15%;
    border: 5px solid rgb(0, 75, 0);

}
